body {
    font-family: var(--Nunito);
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Nunito);
    margin: 0;
    padding: 0;

}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title p {
    color: red;
}

.sliderimg {

    border-radius: 20px !important;
    overflow: hidden;
}

.filter-btn {
    background-color: #DEE2E6;
    border-radius: 12px;
    font-family: var(--Nunito);
    font-weight: 700;
    letter-spacing: normal;
}

.filter-btn.selected {
    background-color: #D71921;
    color: white;
}

.subtitle {
    font-size: 14px;
    color: #6c757d;
}

/* .content-scroll{
    width: 700px;
    overflow-x: scroll;
    white-space: nowrap;
} */